/* RESET CSS */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* CORES */


:root {
    --primary: #ff6b35;
    --dark: #1a1a1a;
    --gray: #6c757d;
    --shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    --light: #f8f9fa;
}


html,
body {
    overflow-x: hidden;
    background-image: url(https://images.unsplash.com/photo-1568901346375-23c9450c58cd?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aGFtYnVyZ3VlcnxlbnwwfHwwfHx8MA%3D%3D);
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;

}



/* HERO */

.wrapper {
    background: linear-gradient(135deg, #fff9f5, white);

}



.hero {
    margin-top: 25em;


}





.hero h1 {
    text-align: center;
    font-size: 2.5em;
    font-weight: bolder;
    margin-top: 1em;
}


.paragraf {
    text-align: center;
    color: var(--gray);
    font-weight: 500;
}



.botao-hero {
    text-align: center;
}



.btn {
    background-color: var(--primary);
    padding: .6em 2em;
    color: #fff;
    font-weight: 600;
}






.info-lista {
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style-type: none;
    margin-top: 2em;
}



.info-lista strong {
    color: var(--primary);
    font-size: 1.5em;
    font-weight: 700;
}



.info-lista p {
    font-size: .9em;
    color: var(--gray);
    font-weight: 700;
}



.section-title {
    text-align: center;
    font-size: 1.8em;
    margin-bottom: .3em;
    font-weight: 600;
}



.texto-whatsapp {
    text-align: center;
    font-size: 1em;
    color: var(--gray);

}



.card {
    height: 100%;
    border-radius: 13px;
    overflow: hidden;
}



.card-body{
   padding: 1.5em;
}


.card img {
    max-width: 100%;
    height: 350px;
    object-fit: cover;
 
}



.card-title{
    font-weight: 600;
    padding: 15px 15px 10px;
}