/* RESET CSS */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* CORES */


:root {
    --primary: #FFC107;
    --dark: #1a1a1a;
    --gray: #6c757d;
    --shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    --light: #f8f9fa;
}




/* ==================== OFFCANVAS ==================== */

.offcanvas {
    background-color: #f8f9fa;
}


.text-offcanvas {
    color: #6c757d;
    font-size: .8em;


}


summary {
    color: #374151;
    margin-left: 1em;
    font-size: .9em;
    font-weight: 600;
    padding: .9em;
}


.text-offcanvas i {
    margin-left: 2em;
}






html,
body {
    overflow-x: hidden;
    background-image: url(https://images.unsplash.com/photo-1568901346375-23c9450c58cd?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aGFtYnVyZ3VlcnxlbnwwfHwwfHx8MA%3D%3D);
    background-repeat: no-repeat;
    background-size: contain;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}


/* ==================== MENU HAMBÚRGUER ==================== */
/* Ícone da navbar mobile */

.bi-list {
    color: #fff;
    font-size: 1.4em;
}


/* Remove borda do botão do menu */

.navbar-toggler {
    border: none;
}

/* Remove o contorno azul ao clicar */

.navbar-toggler:focus {
    box-shadow: none;
    outline: none;
}



/* HERO */

.wrapper {
    background: linear-gradient(135deg, #fff9f5, white);
}



.hero {
    margin-top: 25em;


}





.hero h1 {
    text-align: center;
    font-size: 2.5em;
    font-weight: bolder;
    margin-top: 1em;
}


.paragraf {
    text-align: center;
    color: var(--gray);
    font-weight: 500;
}



.botao-hero {
    text-align: center;
}



.btn {
    background-color: var(--primary);
    padding: .6em 2em;
    color: #fff;
    font-weight: 600;
}






.info-lista {
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style-type: none;
    margin-top: 2em;
}



.info-lista strong {
    color: var(--primary);
    font-size: 1.5em;
    font-weight: 700;
}



.info-lista p {
    font-size: .9em;
    color: var(--gray);
    font-weight: 700;
}



.section-title {
    text-align: center;
    font-size: 1.8em;
    margin-top: 1.5em;
    margin-bottom: .3em;
    font-weight: 600;
}



.texto-whatsapp {
    text-align: center;
    font-size: 1em;
    color: var(--gray);

}



.card {
    max-width: 350px;
    border-radius: 12px;
    overflow: hidden;
    margin: 0 auto;


}



.card-body {
    padding: 1.5em;
    background-color: #FFF8F0;
}


.card img {
    max-width: 400px;
    height: 200px;
    object-fit: cover;

}



.card-title {
    font-weight: 600;
}



.card-description {
    color: var(--gray);
    font-size: .9em;
}




.destaque {
    margin: 2em;
    color: var(--primary);
    font-weight: 600;
}


.btn-produto {
    background-color: var(--primary);
    padding: .6em 4em;
    border-radius: 4px;
    color: #212121;
    text-decoration: none;
}




.about-section {
    background-color: #F5F5F5;
    margin-top: 2em;
    height: 600px;
}




.about-section p {
    text-align: center;
    color: var(--gray);
    font-size: .9em;
}



.section-card {
    position: relative;
}




.badge {
    position: absolute;
    top: 10px;
    left: 12px;
    background-color: var(--primary);
    padding: .6em;

}



.about-section ul li strong {
    color: #000;
}


.about-section ul li {
    list-style-type: none;
    color: var(--gray);

}




.cta {
    background: linear-gradient(135deg, #e55a2b, #FFB74D);
    height: 250px;
}




.title-cta {
    text-align: center;
    font-size: 2.2em;
    padding-top: 2em;
    font-weight: 600;
    color: #fff;
}



.cta p {
    text-align: center;
    color: #fff;
    font-size: 1.1em;
}



.btn-cta {
    text-align: center;


}


.btn-white {
    background-color: #fff;
    color: #e55a2b;

}



footer {
    background-color: #000;
}


footer h3 {
    color: #fff;
    padding-top: 2em;
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;

}




details footer {
    background-color: transparent;
}




details footer p {
    font-size: .8em;
    text-align: center;
    margin-top: 5em;
}



.title-footer {
    color: #fff;
    text-align: center;
}



.section-redesocias {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;

}


.section-redesocias a {
    text-decoration: none;
    padding-bottom: 1em;

}




.footer-copy {
    text-align: center;
    padding-bottom: 2em;
    font-size: .8em;
    color: #fff;
}



.cta-form-title {
    font-size: .9em;
    text-align: center;
    font-weight: 400;
    color: #e55a2b;
}




.form-delivery {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
    gap: 10px;


}


.form-delivery input {
    padding: .3em;
    border-radius: 3px;
    border: transparent;
    background-color: #FFB74D;
}



.form-delivery input:focus {
    outline: none;
}




.form-delivery input::placeholder {
    color: #000;
    font-size: .8em;
    padding-left: .7em;

}





button {
    padding: .4em;
    background-color: #e55a2b;
    border: none;
    color: #fff;
}






/* =========================
   TABLET / NOTEBOOK (>= 768px)
========================= */
@media (min-width: 768px) {
    body {
        background-image: none;
    }




    /* ==================== NAV ==================== */


    .hero {
        margin-top: -.5em;
    }


    .logo {
        padding-top: 1em;
        text-decoration: none;
        font-size: 2em;
        color: #000;
        font-weight: bolder;

    }



    .menu {
        display: flex;
        gap: 1em;
        list-style: none;
        padding-top: 3.7em;

    }


    .menu a {
        display: inline-block;
        text-decoration: none;
        font-size: 1.2em;
        color: var(--gray);
        transition: 0.3s ease-in-out;

    }



    .menu a:hover {
        color: #ff9800;
        transform: scale(1.05);
    }




    .wrapper {
        background: linear-gradient(135deg, #1a1a1a, #2c2c2c);

    }




    .wrapper h1 {
        color: #b2b2b2;
        font-size: 4em;
        font-weight: 600;
        line-height: 1.1em;

    }



    .paragraf {
        color: #fff;

    }


   











}