
/* RESET CSS */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* CORES */


:root{
    --primary: #ff6b35;
    --dark: #1a1a1a;
    --gray: #6c757d;
    --shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}