/* RESET CSS */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* CORES */


:root {
    --primary: #ff6b35;
    --dark: #1a1a1a;
    --gray: #6c757d;
    --shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}


html,
body {
    overflow-x: hidden;
    background-image: url(https://images.unsplash.com/photo-1568901346375-23c9450c58cd?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aGFtYnVyZ3VlcnxlbnwwfHwwfHx8MA%3D%3D);
    background-repeat: no-repeat;

}


h1{
    color: red;
    margin-top: 5em;
    text-align: center;

}


